<div class= "container">
 <h4>会員情報編集</h4><br>

  <%= form_with(model:@customer, url:customers_update_path ,method: :PATCH) do |f| %>
   <%= render "public/shared/error_messages", resource: resource %>

         <div class = "row">
           <div class="col-lg-3">名前</div>
         
           <div class="col-lg-3">
             <%= f.text_field :last_name, autoforcus: true, autocomplete: "last_name", placeholder: "姓" %>
           </div>
           <div class="col-lg-3">
             <%= f.text_field :first_name, autoforcus: true, autocomplete: "first_name", placeholder: "名" %>
           </div>
         </div><br>

         <div class = "row">
           <div class="col-lg-2">フリガナ</div>
           <div class="col-lg-3">
             <%= f.text_field :last_name_kana, autoforcus: true, autocomplete: "last_name_kana", placeholder: "セイ" %>
           </div>
           <div class="col-lg-3">
             <%= f.text_field :first_name_kana, autoforcus: true, autocomplete: "first_name_kana", placeholder: "メイ" %>
           </div>
         </div><br>

         <div class = "row">
           <div class="col-lg-3">郵便番号(ハイフンなし)</div>
           <div class="col-lg-3">
             <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "0000000" %>
           </div>
         </div><br>

         <div class = "row">
           <div class="col-lg-3">住所</div>
           <div class="col-lg-3">
             <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0" %>
           </div>
         </div><br>
         
         <div class = "row">
           <div class="col-lg-3">電話番号(ハイフンなし)</div>
           <div class="col-lg-6">
             <%= f.text_field :tellphone_number, autofocus: true, autocomplete: "tellphone_number", placeholder: "00000000000" %>
           </div>
         </div><br>
         
         <div class = "row">
           <div class="col-lg-3">メールアドレス</div>
           <div class="col-lg-3">
             <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
           </div>
         </div>
  <% end %>
</div>         