<div class="container">
  <div class="row my-3">
    <div class="col-lg-8 px-sm-0 offset-sm-1">
      <h3>マイページ</h3>
    </div>
  </div>


  <div class = "row">
    <div class="col-lg-3 px-lg-0 offset-lg-1">登録情報</div>
    <div class="col-lg-5 px-lg-0">
      <%= link_to "編集する", edit_customer_path %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 px-lg-0 offset-sm-1">
      <table class="table table-bordered">
        <tr>
          <th class="table-active">お名前</th>
          <td><%= @customer.last_name + @customer.first_name %></td>
        </tr>
        <tr>
          <th class="table-active">フリガナ</th>
          <td><%= @customer.last_name_kana + @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th class="table-active">郵便番号</th>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th class="table-active">住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th class="table-active">電話番号</th>
          <td><%= @customer.tellphone_number %></td>
        </tr>
        <tr>
          <th class="table-active">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </table>
    </div>
  </div>



    <%= link_to"log_out", destroy_customer_session_path, method: :delete %>