<div class="container-fruid">

  <div class="row m-3">
    <div class="col-2 offset-2 d-inline-block my-2">
      <h3 class="bg-light px-2">商品一覧</h3>
    </div>
    <div class="col-1 offset-5 d-flex">
      <%= link_to new_admin_item_path, class: "mx-auto my-2" do %>
        <i class="fa-solid fa-circle-plus fa-2x"></i>
      <% end %>
    </div>
  </div>

  <div class="row">
    <table class="table col-8 offset-2">
      <thead class="table-secondary">
        <tr>
          <th class="col-2">商品ID</th>
          <th class="col-3">商品名</th>
          <th class="col-2">税抜価格</th>
          <th class="col-3">ジャンル</th>
          <th class="col-2">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path do %>
                <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price %></td>
            <td><%= item.genre_id %></td>
            <td>
              <% if item.is_active %>
                <p class="text-success">販売中</p>
              <% else %>
                <p class="text-secondary">販売停止中</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <%= paginate @items %>
    </table>
  </div>

</div>