<div class="container-fruid">

  <div class="row m-4">
    <div class="col-3 offset-3">
      <h4 class="bg-light">商品新規登録</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-4">
      <%= form_with model: @item, url: "/admin/items", method: :post do |f| %>
        <div class="form-group row-12 mb-3">
          <%= f.label :商品画像, class: "col-4" %>
          <%= f.file_field :item_image, accept: "image/*", class: "col-7 pl-0" %>
        </div>
        <div class="form-group row-12 mb-3">
          <%= f.label :商品名, class: "col-4" %>
          <%= f.text_field :name, class: "col-7 pl-0" %>
        </div>
        <div class="form-group row-12 mb-3">
          <%= f.label :商品説明, class: "col-4 align-top" %>
          <%= f.text_area :description, rows: "5", class: "col-7 pl-0" %>
        </div>
        <div class="form-group row-12 mb-3">
          <%= f.label :ジャンル, class: "col-4" %>
          <%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "-- 選択してください --", class: "col-7" %>
        </div>
        <div class="form-group row-12 mb-3">
          <%= f.label :税抜価格, class: "col-4" %>
          <%= f.text_field :price, class: "col-7 pl-0" %>円
        </div>
         <div class="form-group row-12 mb-3">
          <%= f.label :販売ステータス, class: "col-4" %>
          <div class="col-7 d-inline pl-0">
            <%= f.radio_button :is_active, :true, checked: true %> <%= f.label :is_active_true, "販売中" %>
            <%= f.radio_button :is_active, :false %> <%= f.label :is_actiove_false, "販売停止中" %>
          </div>
        </div>
        <div class="form-group row-12">
          <div class="col-2 offset-5">
            <%= f.submit "新規登録", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>