<div class="container">
  <div class="row">
    <div class="col-xs-3 offset-1">

      <br>
      <br>
      <h5 style="background-color: #ECECEC;">
        <strong>　管理者</strong>ログイン　
      </h5>
      <br>
      <br>

    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col"></div>

    <div class="col-xs-10">

      <%= form_with(model: resource, local: true, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", style: "width: 100%;" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, autocomplete: "current-password", style: "width: 100%;" %>
        </div>

        <div class="actions">
          <br>
          <%= f.submit "　　ログイン　　", class: 'btn btn-sm btn-primary' %>
        </div>
      <% end %>

      <%= render "admin/shared/links" %>

    </div>

    <div class="col"></div>
  </div>
</div>
