<div class="container-fruid">
  <div class="row mt-4">
    <div class="genre_search col-lg-2 col-10 offset-1">
        <div class="row m-0 py-1 border border-dark justify-content-center">
          <p class="m-0">ジャンル検索</p>
        </div>
        <div class="row m-0 p-0 mb-3 border border-dark">
          <div class="col mt-3">
            <% @genres.each do |genre| %>
              <p>
                <%= link_to genre_search_path(genre.id) do %>
                  <%= genre.name %>
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
    </div>

    <div class="main_content col-lg-9 offset-lg-0 col-10 offset-1">
      <h4 class="item-index-title"><span>「<%= @word %>」の検索結果</span>(全<%= @items.count %>件)</h4>
      <div class="item-content">
        <% @items.each do |item| %>
          <tabel>
            <div class="item-box">
              <tr><%= link_to item_path(item) do %>
                <%= image_tag item.get_item_image(260, 200) %>
                <div class="index-item-name"><%= item.name %></div>
                <% end %>
              </tr>
              <div class="index-item-price">￥<%= item.price %></div>
            </div>
          </tabel>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="pagination d-flex justify-content-center">
    <%= paginate @items %>
  </div>
</div>