<div class="container-fruid">
  <div class="row mt-4">
    <div class="genre_search col-lg-3 offset-lg-1 col-10 offset-1">
      <div class="col-xl-9 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="row m-0 py-1 border border-dark justify-content-center">
          <p class="m-0">ジャンル検索</p>
        </div>
        <div class="row m-0 p-0 mb-3 border border-dark">
          <div class="col mt-3">
            <% @genres.each do |genre| %>
              <p><%= genre.name %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="main_content col-lg-8 offset-lg-0 col-10 offset-1">
      <div class="top_image row mx-xl-4 mx-xs-2">
        <div class="card">
        <%= image_tag "top_page_image.jpg", size: "700x350", class: "card-img" %>
        <div class="card-img-overlay d-flex">
          <div class="m-auto p-3" style="background-color: rgb(0 0 0  / 0.3)">
            <h5 class="text-light p-0 m-0" style="text-shadow: 1px 2px 3px #808080; line-height:1.5;">
              ようこそ、ながのCAKEへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。<br>
            </h5>
          </div>
        </div>
      </div>
      <div class="new_item_list row mx-2">
        <div class="row w-100">
          <h4 class="w-100 mt-3 mb-2 mx-lg-3">新着商品</h4>
        </div>
        <div class="row d-flex justify-content-center">
          <% @items.each do |item| %>
            <%= link_to item_path(item.id), class: "col-xl-3 col-lg-4 col-md-6 col-xs-12 m-0 p-2" do %>
              <div class="item_image row">
                <%= image_tag item.get_item_image(200, 150)  %>
              </div>
              <p class="mb-0"><%= item.name %></p>
              <p class="mb-0">￥<%= number_with_delimiter(item.with_tax_price) %></p>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row w-100 mb-2">
        <div class="col-auto ml-auto">
          <%= link_to items_path do %>全ての商品を見る><% end %>
        </div>
      </div>
    </div>

  </div>
</div>