<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <div class="container">
    <div class="row">
      <div class="offset-1">
        <div style="color: #32cd32; font-weight: bold;">
          <%= flash[:success] %>
        </div>
        <div>
          <br>
          <h4 class="customer-index-title", style="background-color: #ECECEC;">
            <%= @customer.last_name %> <%=@customer.first_name %>さんの会員詳細
          </h4>
        </div>
      </div>

      <div class = "col-sm-10 px-sm-0 mx-auto">
        <table class="table-spacing-show">
          <tr>
            <td><strong>会員ID</strong></td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td><strong>氏名</strong></td>
            <td><%= @customer.last_name %>  <%= @customer.first_name %></td>
          </tr>

          <tr>
            <td><strong>フリガナ</strong></td>
            <td><%= @customer.last_name_kana %>  <%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td><strong>郵便番号</strong></td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td><strong>住所</strong></td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td><strong>電話番号</strong></td>
            <td><%= @customer.tellphone_number %></td>
          </tr>
          <tr>
            <td><strong>メールアドレス</strong></td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td><strong>会員ステータス</strong></td>
            <td>
              <% if @customer.is_active %>
                <strong class="text-success">有効</strong>
              <% else %>
                <strong class="text-secondary">退会</strong>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="1"></td>
            <td>
              <%= link_to '編集', edit_admin_customer_path(@customer), class: "btn btn-success" %>
            </td>
            <td>
              <%= link_to '注文履歴一覧を見る', admin_top_path, class: "btn btn-primary" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


</html>