<div class="container-fruid">
  <div class="row m-4">
    <div class="col-auto offset-2 d-inline-block my-2">
      <h4 class="px-4" style="background-color:#ECECEC;">ジャンル一覧・追加</h4>
    </div>
  </div>
</div>

<div class="container"><!--ジャンル画面のエラーメッセージ-->
  <div class="row">
    <div class="col">
      <% if @genre.errors.any? %>
        <div class="error-message">
          <span style="color: red; font-weight: bold;"><!--エラーメッセージの赤字、太字表示-->
            <%= t('activerecord.errors.messages.record_invalid', errors: "ジャンル名を入力してください") %>
          </span>
        </div>
      <% end %>
    </div>
  </div>


<br>


  <div class="row">
    <div class="col-2">
      <h6><strong>ジャンル名</strong></h6>
    </div>
    <!-- ジャンル登録 -->
    <div class="col-10">
      <%= form_with model: @genre, url: '/admin/genres', method: :post do |f| %>
        <div class="form-inline"> <!-- フォーム要素を横並びに配置 -->
          <%= f.text_field :name, placeholder: "ジャンル名", class: "form-control mr-2", style: "max-width: 300px;" %>
          <%= f.submit '　新規登録　', class: "btn btn-success", style: "font-weight: bold;" %>
        </div>
      <% end %>
      <br>
      <br>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      
      <!--　ジャンル一覧のテーブル　-->
      <table class = "table">
        <thead style="background-color: #ECECEC;">
          <th>ジャンル</th>
          <th></th>
        </thead>
        
        <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td>
              <%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-success", style: "font-size: smaller;" %>
            </td>
          </tr>
        <% end %>
        <!-- styleで、ジャンルのテーブルに灰色の横線を付けています -->
        <style>
          table.table {
            border-collapse: collapse;
          }
          table.table td, table.table th {
            border-bottom: 1px solid #dddddd;
          }
          table.table tr:last-child td, table.table tr:last-child th {
            border-bottom: 1px solid #dddddd;
          }
        </style>
      </table>
      
    </div>
  </div>
</div>