<div class= "container">
  <div class="row mt-5 ">
    <h4 class ="col-3 table-secondary text-center">注文履歴一覧</h4><br>
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th class="table-active">購入日</th>
            <th class="table-active">購入者</th>
            <th class="table-active">注文個数</th>
            <th class="table-active">注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= link_to admin_order_path(order) do %>
                <%= order.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
                <% end %>
              </td>
              <td><%= order.customer.last_name + order.customer.first_name %></td>
              <td><%= order.order_details.sum(:amount) %></td>
              <td><%= order.status_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
   <%= paginate @orders %>
  </div>
</div>
<%= link_to"log_out", destroy_admin_session_path, method: :delete %>