<div class="container">
  <div class="row">
    <div class="col-xs-3 offset-1">

      <br>
      <br>
      <h5 style="background-color: #ECECEC;">　配送先登録／一覧　</h5>
      <br>
      <br>

    </div>
  </div>
</div>

<!-- 配送先登録 -->
<div class="container">
  <div class="row">

    <%= form_with model: @address, url: '/addresses', method: :post do |f| %>
      <div class="col">
        郵便番号(ハイフンなし)
        <%= f.text_field :postal_code, placeholder: "0000000" %>
      </div>
      <div class="col">
        住所
        <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
      </div>
      <div class="col">
        宛名
        <%= f.text_field :name, placeholder: "令和太郎" %>
        <%= f.submit '　新規登録　'.html_safe, class: "btn btn-success", style: "font-weight: bold" %>
      </div>
    <% end %>

  </div>
</div>

<!-- 配送先一覧 -->
<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td>
                <%= address.postal_code.to_s.insert(3, "-") %>
              </td>
              <td>
                <%= address.address %>
              </td>
              <td>
                <%= address.name %>
              </td>
              <td>
                <%= link_to '編集する'.html_safe, edit_address_path(address), class: "btn btn-success btn-sm", style: "font-weight: bold" %>
                <%= link_to '削除する', address, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-sm", style: "font-weight: bold" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>