<div class="container-fruid">

  <div class="row m-4">
    <div class="col-auto offset-2">
      <h4 class="px-4" style="background-color:#ECECEC;">注文情報確認</h4>
    </div>
  </div>

  <div class="order_details row mb-5">
    <div class="order_detail_items col-lg-6 offset-1 col-10">
      <table class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th class="col-6">商品名</th>
            <th class="col-2">単価(税込)</th>
            <th class="col-2">数量</th>
            <th class="col-2">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td class="font-weight-bold"><%= cart_item.item.name %></td>
              <td><%= number_with_delimiter(cart_item.item.with_tax_price) %></td>
              <td><%= number_with_delimiter(cart_item.amount) %></td>
              <td><%= number_with_delimiter(cart_item.subtotal) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="order_detail_price col-lg-3 offset-lg-1 col-md-5 offset-md-6 col-7 offset-4">
      <table class="table table-bordered">
        <tr>
          <th class="col-6 table-secondary">送料</th>
          <td class="col-6"><%= number_with_delimiter(@order.shipping_cost) %></td>
        </tr>
        <tr>
          <th class="col-6 table-secondary">商品合計</th>
          <td class="col-6"><%= number_with_delimiter(@subtotal_sum) %></td>
        </tr>
        <tr>
          <th class="col-6 table-secondary">請求金額</th>
          <td class="col-6"><%= number_with_delimiter(@order.total_payment) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="information_confirm h5 mb-5">
    <div class="row offset-1 mb-4">
      <div class="col">
        <span class="font-weight-bold mr-4">支払方法</span><%= Order.payment_methods_i18n[@order.payment_method] %>
      </div>
    </div>
    <div class="row offset-1 mb-4">
      <div class="col">
        <span class="font-weight-bold mr-4">お届け先</span><%= @order.address_display %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <%= form_with model: @order, url: orders_path, method: :post do |f| %>
        <%= f.hidden_field :postal_code, :value => @order.postal_code %>
        <%= f.hidden_field :address, :value => @order.address %>
        <%= f.hidden_field :name, :value => @order.name %>
        <%= f.hidden_field :shipping_cost, :value => @order.shipping_cost %>
        <%= f.hidden_field :total_payment, :value => @order.total_payment %>
        <%= f.hidden_field :payment_method, :value => @order.payment_method %>
        <%= f.submit "注文を確定する", class: "btn btn-success btn-lg col-auto offset-4 font-weight-bold" %>
      <% end %>
    </div>
  </div>

</div>