<div class="row m-4">
  <div class="col-auto offset-2">
    <h4 class="px-4" style="background-color:#ECECEC;">注文履歴一覧</h4>
  </div>
</div>

<!-- 注文履歴一覧 -->
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr bgcolor = "#f5f5f5">
            <th style="text-align: left; vertical-align: middle;">注文日</th>
            <th style="text-align: left; vertical-align: middle;">配送先</th>
            <th style="text-align: left; vertical-align: middle;">注文商品</th>
            <th style="text-align: left; vertical-align: middle;">支払金額</th>
            <th style="text-align: left; vertical-align: middle;">ステータス</th>
            <th style="text-align: left; vertical-align: middle;">注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td style="text-align: left; vertical-align: middle;"><!-- 注文日 -->
                <%= order.created_at.strftime("%Y/%-m/%-d") %>
              </td>
              <td style="text-align: left; vertical-align: middle;"><!-- 配送先 -->
                〒<%= order.postal_code.to_s.insert(3, "-") %><br>
                <%= order.address %><br>
                <%= order.name %>
              </td>
              <td style="text-align: left; vertical-align: middle;"><!-- 注文商品一覧 -->
                <% order.order_details.map do |order_detail| %>
                  <%= content_tag :div, "・#{order_detail.item.name}" %>
                <% end %>
              </td>
              <td style="text-align: left; vertical-align: middle;"> <!-- 支払金額 -->
                <%= number_with_delimiter(order.total_payment + order.shipping_cost) %>円
              </td>
              <td style="text-align: left; vertical-align: middle;"><!--注文ステータス-->
                <%= order.status %>
              </td>
              <td style="text-align: center; vertical-align: middle;"><!--注文詳細-->
                <%= link_to '表示する'.html_safe, order_path(order), class: "btn btn-primary btn-sm", style: "font-weight: bold" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>