<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container-fruid">
    <div class="row mt-4">
      <div class="genre_search col-lg-3 offset-lg-0 col-10 offset-1">
        <div class="container">
          <div class="row">
            <div class="col-8 offset-2 mt-4 font-weight-bold">
              <div class="row m-0 py-1 border border-dark border-bottom-0 justify-content-center">
                <p class="m-0">ジャンル検索</p>
              </div>
              <div class="row m-0 p-0 mb-3 border border-dark">
                <div class="col mt-3 d-block">
                  <% @genres.each do |genre| %>
                    <p>
                      <%= link_to genre_search_path(genre.id) do %>
                        <%= genre.name %>
                      <% end %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main_content col-lg-8 offset-lg-0 col-10 offset-1">
        <div class="container">
          <div class="row">
            <h4 class="item-index-title ml-3 mt-4 mb-4">商品一覧 <span>(全<%= @items.count %>件)</span></h4>
          </div>
          <div class="row d-flex justify-content-center">
            <% @item.each do |item| %>
              <%= link_to item_path(item.id), class: "col-xl-3 col-lg-4 col-md-6 col-xs-12 m-0 p-2" do %>
                <div class="container">
                  <div class=" item_image row d-flex justify-content-center">
                    <%= image_tag item.get_item_image(220, 165), class: "d-block"  %>
                  </div>
                  <div class="d-flex justify-content-center">
                    <div style="width:220px;">
                      <p class="index-item-name mb-0 mt-2"><%= item.name %></p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center">
                    <div style="width:220px">
                      <p class="index-item-price mb-0">￥<%= number_with_delimiter(item.with_tax_price) %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>

    <div class="pagination d-flex justify-content-center mt-3">
      <%= paginate @item %>
    </div>
  </div>

</html>