<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <div class="container-fruid">
    <div class="row mt-4">
      <div class="genre_search col-lg-3 offset-lg-0 col-10 offset-1">
        <div class="container">
          <div class="row">
            <div class="col-8 offset-2 mt-4 font-weight-bold">
              <div class="row m-0 py-1 border border-dark border-bottom-0 justify-content-center">
                <p class="m-0">ジャンル検索</p>
              </div>
              <div class="row m-0 p-0 mb-3 border border-dark">
                <div class="col mt-3 d-block">
                  <% @genres.each do |genre| %>
                    <p>
                      <%= link_to genre_search_path(genre.id) do %>
                        <%= genre.name %>
                      <% end %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main_content col-lg-8 offset-lg-0 col-10 offset-1">
        <div class="container-12">
          <div class = "row-12 d-flex">
            <div class="col-6 p-0">
              <div class="item-show-image mt-4">
                <%= image_tag @item.get_item_image(400, 300), style: "max-width: 90%;" %>
              </div>
            </div>
            <div class='col-7 p-0'>
              <div class="show-item-name mt-4"><%= @item.name %></div>
              <div class="item-description ml-1 mt-3"><%= @item.description %></div>
              <div class="show-item-price mt-5"><span>￥<%= number_with_delimiter(@item.with_tax_price) %></span>(税込)</div>
              <%= form_with model:@cart_item, url: cart_items_path do |f| %>
                <div class="container">
                  <div class="row mt-2">
                    <div class="col-xs-10 col-sm-auto mt-3 mr-3">
                      <%= f.select :amount,  [*(1..10)], include_blank: "選択して下さい", class: "form-control" %>
                      <%= f.hidden_field :item_id, :value => @item.id %>
                    </div>
                    <div class="col-xs-10 col-sm-auto mt-2">
                      <%= f.submit 'カートに入れる', class: "btn btn-lg btn-success" %>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="item-show-alert">
                <%= flash[:alert] %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
