<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class= "container">
    <div class = "row">
      <div class = "col-md-5">
        <%= image_tag item.get_item_image(200, 100) %>
      </div>
      <div class='col-md-6 offset-md-1'>
        <table>
          <!--item情報を取得してくる。暫定的に入力しています。-->
          <tr><%= item.name %></tr>
          <tr><%= item.description %></tr>
          <tr><%= item.price %></tr>
          <tr>
            <td>個数選択</td>
            <td><%= link_to "カートに入れる",  cart_items_path, class: "btn btn-sm btn-success" %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>










</html>